<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CHATEAR</title>
</head>

<body> 
            
<!-- MENU -->    
<center>
        
<p></p>
<hr color="gold">
<center>
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
</center>

<hr color="gold">

  
    <!-- FIM DO MENU -->
    
    <!-- LOGO -->
  <img  
            	src="../logo_chatear.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >
  
<center>
<a href=""window.open('http://vircio.net/sala/SMASH&estilo=black&altura=400','chat','width=700,height=400,top=99,left=99,scrollbars=no,status=no,toolbar=no,location=no,directories=no,menubar=no,resizable=no,fullscreen=no');"" onclick="window.open('http://vircio.net/sala/SMASH&estilo=black&altura=400','chat','width=700,height=400,top=99,left=99,scrollbars=no,status=no,toolbar=no,location=no,directories=no,menubar=no,resizable=no,fullscreen=no');"><h1> Clique e vá para a sala de bate-papo</h1></a>


</center>

<!-- FIM DO MENU DE INTERESSES -->



<center>
  <hr color="gold">
</center>

</body>
</html>
