<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Comida</title>
</head>

<body 
    onLoad="MM_preloadImages(
    '../logos_interesses/logo_amarelo/logo_fruta.png',
    '../logos_interesses/logo_amarelo/logo_doces.png',
    '../logos_interesses/logo_amarelo/logo_bebidas.png',
    '../logos_interesses/logo_amarelo/logo_caseira.png',
    '../logos_interesses/logo_amarelo/logo_cafe.png',
    '../logos_interesses/logo_amarelo/logo_italiana.png',
    '../logos_interesses/logo_amarelo/logo_japonesa.png',
    '../logos_interesses/logo_amarelo/logo_fast.png')"
>
            
<!-- MENU -->    
<center>
        
<p><a href="interesses.html">Interesses</a> > <a href="comida.html">Comida</a></p>
<hr color="gold">
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
<hr color="gold">
<img  
            	src="../logo_comida.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >

<!-- FIM DO MENU -->
<p></p>

  <!-- INICIO DO MENU DE INTERESSES -->
<center>
<table align="center">
  <tr>
    <td>
      <form name="form4" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('vegano','','../logos_interesses/logo_amarelo/logo_fruta.png',1)"><img src="../logos_interesses/logo_fruta.png" name="vegano" ></a></center><center>
        Vegano
        <input type="checkbox" name="vegano2" id="vegano"></center>
        <label for="vegano"></label>
      </form>
      </td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form3" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('doces','','../logos_interesses/logo_amarelo/logo_doces.png',1)"><img src="../logos_interesses/logo_doces.png" name="doces"></a></center><center>Doces
        <input type="checkbox" name="doces2" id="doces"></center>
        <label for="doces"></label>
      </form></td>
      
    <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form2" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('bebida','','../logos_interesses/logo_amarelo/logo_bebida.png',1)"><img src="../logos_interesses/logo_bebida.png" name="bebida"></a></center>
    <center>Bebidas<input type="checkbox" name="bebida2" id="bebida"></center>
        <label for="bebida"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form1" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('caseira','','../logos_interesses/logo_amarelo/logo_caseira.png',1)"><img src="../logos_interesses/logo_caseira.png" name="caseira"></a></center><center>
        Caseira
        <input type="checkbox" name="caseira2" id="caseira"></center>
        <label for="caseira"></label>
      </form></td>
  </tr>
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  <tr>
     <td>
      <form name="form4" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('cafe','','../logos_interesses/logo_amarelo/logo_cafe.png',1)"><img src="../logos_interesses/logo_cafe.png" name="cafe"></a><center>
          Café
          <input type="checkbox" name="cafe2" id="cafe"></center></center>
        <label for="cafe"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('italiana','','../logos_interesses/logo_amarelo/logo_italiana.png',1)"><img src="../logos_interesses/logo_italiana.png" name="italiana"></a></center><center>Italiana
        <input type="checkbox" name="italiana2" id="italiana"></center>
        <label for="italiana"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form7" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('japonesa','','../logos_interesses/logo_amarelo/logo_japonesa.png',1)"><img src="../logos_interesses/logo_japonesa.png" name="japonesa"></a></center><center>Japonesa
        <input type="checkbox" name="japonesa2" id="japonesa"></center>
        <label for="japonesa"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form8" method="post" action=""><center>
        <a href="http://www.staggeringbeauty.com/" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('fast','','../logos_interesses/logo_amarelo/logo_fast.png',1)"><img src="../logos_interesses/logo_fast.png" name="fast"></a></a></center><center>
        Fast Food
        <input type="checkbox" name="fast2" id="fast"></center>
        <label for="fast"></label>
      </form></td>
  </tr>
</table>
</center>

<!-- FIM DO MENU DE INTERESSES -->
</center>

<center>
<p></p>
<a href="interesses.html"><img src="../button_selecione_interesses.png" width="272" height="35" alt="selecione"></a>
  <hr color="gold"> 
</center>

</body>
</html>
