<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Esportes</title>
</head>

<body 
    onLoad="MM_preloadImages(
    '../logos_interesses/logo_amarelo/logo_skate.png',
    '../logos_interesses/logo_amarelo/logo_basquete.png',
    '../logos_interesses/logo_amarelo/logo_damas.png',
    '../logos_interesses/logo_amarelo/logo_futebol.png',
    '../logos_interesses/logo_amarelo/logo_volei.png',
    '../logos_interesses/logo_amarelo/logo_tiro.png',
    '../logos_interesses/logo_amarelo/logo_corrida.png',
    '../logos_interesses/logo_amarelo/logo_luta.png',
    '../logos_interesses/logo_amarelo/logo_nadar.png',
    '../logos_interesses/logo_amarelo/logo_tenis.png',
    '../logos_interesses/logo_amarelo/logo_surf.png')"
> 
            
<!-- MENU -->    
<center>
        
<p><a href="interesses.html">Interesses</a> > <a href="esportes.html">Esportes</a></p>
<hr color="gold">
<center>
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
</center>

<hr color="gold">

  <!-- FIM DO MENU -->
  
  <!-- LOGO -->
  <img  
            	src="../logo_esportes.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >

<p></p>


  <!-- INICIO DO MENU DE INTERESSES -->
<center>
<table>
  <tr>
    <td>
      <form name="form1" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('skate','','../logos_interesses/logo_amarelo/logo_skate.png',1)"><img src="../logos_interesses/logo_skate.png" name="skate" ></a></center><center>Skate
<input type="checkbox" name="skate2" id="skate"></center>
        <label for="skate"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form2" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('musc','','../logos_interesses/logo_amarelo/logo_musculacao.png',1)"><img src="../logos_interesses/logo_musculacao.png" name="musc"></a></center><center>
        Muscular
        <input type="checkbox" name="musc2" id="musc"></center>
        <label for="musc"></label>
      </form></td>
      
    <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form3" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('basquete','','../logos_interesses/logo_amarelo/logo_basquete.png',1)"><img src="../logos_interesses/logo_basquete.png" name="basquete"></a></center><center>Basquete
        <input type="checkbox" name="basquete2" id="basquete"></center>
        <label for="basquete"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('damas','','../logos_interesses/logo_amarelo/logo_damas_xadrez.png',1)"><img src="../logos_interesses/logo_damas_xadrez.png" name="damas"></a></center><center>Damas
        <input type="checkbox" name="damas2" id="damas"></center>
        <label for="damas"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('futebol','','../logos_interesses/logo_amarelo/logo_futebol.png',1)"><img src="../logos_interesses/logo_futebol.png" name="futebol"></a></center><center>Futebol
        <input type="checkbox" name="futebol2" id="futebol"></center>
        <label for="futebol"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="Arte.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('volei','','../logos_interesses/logo_amarelo/logo_volei.png',1)"><img src="../logos_interesses/logo_volei.png" name="volei"></a></center><center>Vôlei
        <input type="checkbox" name="volei2" id="volei"></center>
        <label for="volei"></label>
      </form></td>
      
  </tr>
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  <tr>
    <td>
      <form name="form4" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('tiro','','../logos_interesses/logo_amarelo/logo_tiro.png',1)"><img src="../logos_interesses/logo_tiro.png" name="tiro"></a><center></center>Tiro
        <input type="checkbox" name="tiro2" id="tiro"></center>
        <label for="tiro"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form5" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('corrida','','../logos_interesses/logo_amarelo/logo_corrida.png',1)"><img src="../logos_interesses/logo_corrida.png" name="corrida"></a></center><center>Corrida
        <input type="checkbox" name="corrida2" id="corrida"></center>
        <label for="corrida"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('luta','','../logos_interesses/logo_amarelo/logo_luta.png',1)"><img src="../logos_interesses/logo_luta.png" name="luta"></a></center><center>Luta
        <input type="checkbox" name="luta2" id="luta"></center>
        <label for="luta"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('natacao','','../logos_interesses/logo_amarelo/logo_nadar.png',1)"><img src="../logos_interesses/logo_nadar.png" name="natacao"></a></center><center>Natação
        <input type="checkbox" name="natacao2" id="natacao"></center>
        <label for="natacao"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('tenis','','../logos_interesses/logo_amarelo/logo_tenis.png',1)"><img src="../logos_interesses/logo_tenis.png" name="tenis"></a></center><center>Tênis
        <input type="checkbox" name="tenis2" id="tenis"></center>
        <label for="tenis"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('surf','','../logos_interesses/logo_amarelo/logo_surf.png',1)"><img src="../logos_interesses/logo_surf.png" name="surf"></a></center><center>Surfe
        <input type="checkbox" name="surf2" id="surf"></center>
        <label for="surf"></label>
      </form></td>
      
  </tr>
</table>
</center>

<!-- FIM DO MENU DE INTERESSES -->



<center>
<p></p>
<a href="interesses.html"><img src="../button_selecione_interesses.png" width="272" height="35" alt="selecione"></a>
  <hr color="gold">
</center>

</body>
</html>
