<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Estatística</title>
</head>

<body> 
            
<!-- MENU -->    
<center>
        
<p></p>
<hr color="gold">
<center>
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
</center>

<hr color="gold">

  
    <!-- FIM DO MENU -->
    
    <!-- LOGO -->
  <img  
            	src="../logo.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >
  
<center>

<table>
  <tr>
  	<td><a href="perfil1.html">Rony Weansley</a></td>
    <td><a href="perfil1.html"><img  src="../perfil2.png" width="58" height="67"></a></td>
    
    <td width="20%" ><a href="perfil1.html">80%</a></td>
    <td width="23%" ></td>
    
  </tr>
</table>
<table><td><hr color="gold"></td></table>
<table>
  <tr>
  	<td><a href="perfil2.html">Harry Potter</a></td>
    <td><a href="perfil2.html"><img  src="../perfil3.png" width="58" height="67"></a></td>
    <td width="20%" ><a href="perfil2.html">70%</a></td>
    <td width="23%" ><a href="perfil2.html"></a></td>
  </tr>
</table>
<table><td><hr color="gold"></td></table>
<table>
  <tr>
  	<td><a href="perfil3.html">Victor Krum</a></td>
    <td><a href="perfil3.html"><img  src="../perfil4.png" width="58" height="67"></a></td>
    <td width="20%" ><a href="perfil3.html">60%</a></td>
    <td width="23%" ><a href="perfil3.html"></a></td>
  </tr>
</table>
<table><td><hr color="gold"></td></table>
<table>
  <tr>
  	<td><a href="perfil4.html">Rawenna Ravenclaw</a></td>
    <td><a href="perfil4.html"><img  src="../perfil5.png" width="58" height="67"></a></td>
    
    <td width="20%" ><a href="perfil4.html">50%</a></td>
    <td width="23%" ></td>
    
  </tr>
</table>
<table><td><hr color="gold"></td></table>
<table>
  <tr>
  	<td><a href="perfil5.html">Fleur Delacour</a></td>
    <td><a href="perfil5.html"><img  src="../perfil6.png" width="58" height="67"></a></td>
    
    <td width="20%" ><a href="perfil5.html">40%</a></td>
    <td width="23%" ><a href="perfil5.html"></a></td>
   
  </tr>
</table>


</center>

<!-- FIM DO MENU DE INTERESSES -->



<center>
  <hr color="gold">
</center>

</body>
</html>
