<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Estudo</title>
</head>

<body onLoad="MM_preloadImages(
	'../logos_interesses/logo_amarelo/logo_humanas.png',
    '../logos_interesses/logo_amarelo/logo_cafe.png',
	'../logos_interesses/logo_amarelo/logo_biologicas.png')"
    >

            
<!-- MENU -->    
<center>
        
<p><a href="interesses.html">Interesses</a> &gt; <a href="Estudo.html">Estudo</a></p>
<hr color="gold">
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
<hr color="gold">



    <!-- FIM DO MENU-->
    
    
    <img  
            	src="../logo_estudo.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >
  <p>&nbsp; </p>
  <p>&nbsp;</p>
</center>
<!-- FIM DO MENU -->

<!-- INICIO DO MENU DE INTERESSES -->
  <!-- INICIO DO MENU DE INTERESSES -->
<center>
<table align="center">
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  <tr>
    <td>
      <form name="form3" method="post" action=""><center>
        <a href="exatas.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('exatas','','../logos_interesses/logo_amarelo/logo_cafe.png',1)"><img src="../logos_interesses/logo_cafe.png" name="exatas"></a></center><center>Exatas
        <input type="checkbox" name="exatas2" id="exatas"></center>
        <label for="exatas"></label>
      </form></td>
      
    <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form2" method="post" action=""><center>
        <a href="ciencia.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('ciencia','','../logos_interesses/logo_amarelo/logo_biologicas.png',1)"><img src="../logos_interesses/logo_biologicas.png" name="ciencia" width="100" height="100" border="0"></a>
      </center>
    <center>
      Ciência
      <input type="checkbox" name="ciencia2" id="ciencia"></center>
        <label for="ciencia"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form1" method="post" action=""><center>
        <a href="humanas.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('humanas','','../logos_interesses/logo_amarelo/logo_humanas.png',1)"><img src="../logos_interesses/logo_humanas.png" name="humanas" width="100" height="100" border="0"></a></center><center>
        Humanas
        <input type="checkbox" name="humanas2" id="humanas"></center>
        <label for="humanas"></label>
      </form></td>
  </tr>
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  
</table>
</center>

<!-- FIM DO MENU DE INTERESSES -->
</center>


<!-- FIM DO MENU DE INTERESSES -->

<center>

  <p>&nbsp;</p>
<p>&nbsp;</p>
<a href="interesses.html"><img src="../button_selecione_interesses.png" width="272" height="35" alt="selecione"></a>
  <hr color="gold"> 
</center>

</body>
</html>
