<link rel="StyleSheet" type="text/css" href="../SiteSMASH/estilo.css">

<html>
	<head>
   		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<!-- TemplateBeginEditable name="doctitle" -->
    	<title>Inicio</title>
    </head>
<body >

<center>
  <p></p>
    	<hr color="gold">
            <img  
            	src="../logo.png" 
                alt="logotipo"
                width="300" 
                height="186"
            > 
      <h1>SMASH</h1>
            <h2>Quebrando a Quarta Parede da Sua Vida!</h2>
   			
<hr align="center" width="50%" color="gold">
<section>
<p>E-mail: 
  <input type="text" name="e-mail" id="e-mail3"> 
  Senha: 
  <input type="password" name="Senha" id="Senha">
  <a href="Estatistica.html">
  <input name="Enviar"  onclick="" type="image" src="../button_entrar.png" width="96" height="22" align="top" />
             </a></p>
</section>
</center>

<center>
  	<hr color="gold" width="50%">
  <h2>Ainda não possui conta?</h2>
  <a href="cadastro.html"><img src="../button_comece.png" width="159" height="34"></a>
<hr color="gold"> </center>
</body>

</html>
