<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Interesses</title>
</head>

<body 
    onLoad="MM_preloadImages(
    '../logos_interesses/logo_amarelo/logo_comida.png',
    '../logos_interesses/logo_amarelo/logo_jogos.png',
    '../logos_interesses/logo_amarelo/logo_viagem.png',
    '../logos_interesses/logo_amarelo/logo_arte.png',
    '../logos_interesses/logo_amarelo/logo_literatura.png',
    '../logos_interesses/logo_amarelo/logo_esporte.png')"
> 
            
<!-- MENU -->    
<center>
        
<p>&nbsp;</p>
<hr color="gold">
<center>
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
</center>

<hr color="gold">

  <!-- FIM DO MENU -->
  
  <!-- LOGO -->
  <img  
            	src="../logo.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >

<p></p>


  <!-- INICIO DO MENU DE INTERESSES -->
<center>
<table>
  <tr>
    <td>
      <form name="form1" method="post" action=""><center>
        <a href="estudo.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('estudo','','../logos_interesses/logo_amarelo/logo_literatura.png',1)"><img src="../logos_interesses/logo_literatura.png" name="estudo" ></a></center><center>Estudo
<input type="checkbox" name="estudo2" id="estudo"></center>
        <label for="estudo"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form2" method="post" action=""><center>
        <a href="comida.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('comida','','../logos_interesses/logo_amarelo/logo_comida.png',1)"><img src="../logos_interesses/logo_comida.png" name="comida"></a></center><center>Comida
        <input type="checkbox" name="comida2" id="comida"></center>
        <label for="comida"></label>
      </form></td>
      
    <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form3" method="post" action=""><center>
        <a href="esportes.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('esporte','','../logos_interesses/logo_amarelo/logo_esporte.png',1)"><img src="../logos_interesses/logo_esporte.png" name="esporte"></a></center><center>Esporte
        <input type="checkbox" name="esporte2" id="esporte"></center>
        <label for="esporte"></label>
      </form></td>
      
  </tr>
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  <tr>
    <td>
      <form name="form4" method="post" action=""><center>
        <a href="jogos.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('jogos','','../logos_interesses/logo_amarelo/logo_jogos.png',1)"><img src="../logos_interesses/logo_jogos.png" name="jogos"></a><center>
          Jogos
          <input type="checkbox" name="jogos2" id="jogos"></center></center>
        <label for="jogos"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form5" method="post" action=""><center>
        <a href="viagem.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('viagem','','../logos_interesses/logo_amarelo/logo_viagem.png',1)"><img src="../logos_interesses/logo_viagem.png" name="viagem"></a></center><center>Viagem
        <input type="checkbox" name="viagem2" id="viagem"></center>
        <label for="viagem"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="Arte.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('arte','','../logos_interesses/logo_amarelo/logo_arte.png',1)"><img src="../logos_interesses/logo_arte.png" name="arte"></a></center><center>Arte
        <input type="checkbox" name="arte2" id="arte"></center>
        <label for="arte"></label>
      </form></td>
      
  </tr>
</table>
</center>

<!-- FIM DO MENU DE INTERESSES -->



<center>
<p></p>
<a href="interesses.html"><img src="../button_selecione_interesses.png" width="272" height="35" alt="selecione"></a>
  <hr color="gold">
</center>

</body>
</html>
