<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Literatura</title>
</head>

<body 
	onLoad="MM_preloadImages(
    '../logos_interesses/logo_amarelo/logo_comedia.png',
    '../logos_interesses/logo_amarelo/logo_acao.png',
    '../logos_interesses/logo_amarelo/logo_magia.png',
    '../logos_interesses/logo_amarelo/logo_terror.png',
    '../logos_interesses/logo_amarelo/logo_ficcao.png',
    '../logos_interesses/logo_amarelo/logo_drama.png',
    '../logos_interesses/logo_amarelo/logo_romance.png',
    '../logos_interesses/logo_amarelo/logo_contos.png',
    '../logos_interesses/logo_amarelo/logo_aventura.png',
    '../logos_interesses/logo_amarelo/logo_fantasia.png',
    '../logos_interesses/logo_amarelo/logo_suspense.png',
    '../logos_interesses/logo_amarelo/logo_familia.png')"
> 
<center>
            
<!-- MENU -->    
<center>
        
<p><a href="interesses.html">Interesses</a> > <a href="Arte.html">Arte</a> > <a href="literatura.html">Literatura</a></p>
<hr color="gold">
<center>
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
</center>

<hr color="gold">

  <!-- FIM DO MENU -->
  
  <!-- LOGO -->
<img  
            	src="../logo_estudo.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >

<p></p>


  <!-- INICIO DO MENU DE INTERESSES -->
<center>
<table>
  <tr>
    <td>
      <form name="form1" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('comedia','','../logos_interesses/logo_amarelo/logo_comedia.png',1)"><img src="../logos_interesses/logo_comedia.png" name="comedia" ></a></center><center>Comédia
<input type="checkbox" name="comedia2" id="comedia"></center>
        <label for="comedia"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form2" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('acao','','../logos_interesses/logo_amarelo/logo_acao.png',1)"><img src="../logos_interesses/logo_acao.png" name="acao"></a></center><center>
        Ação
        <input type="checkbox" name="acao2" id="acao"></center>
        <label for="acao"></label>
      </form></td>
      
    <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form3" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('magia','','../logos_interesses/logo_amarelo/logo_magia.png',1)"><img src="../logos_interesses/logo_magia.png" name="magia"></a></center><center>Magia
        <input type="checkbox" name="magia2" id="magia"></center>
        <label for="magia"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('terror','','../logos_interesses/logo_amarelo/logo_terror.png',1)"><img src="../logos_interesses/logo_terror.png" name="terror"></a></center><center>Terror
        <input type="checkbox" name="terror2" id="terror"></center>
        <label for="terror"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('ficcao','','../logos_interesses/logo_amarelo/logo_ficcao.png',1)"><img src="../logos_interesses/logo_ficcao.png" name="ficcao"></a></center><center>Ficção
        <input type="checkbox" name="ficcao2" id="ficcao"></center>
        <label for="ficcao"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="Arte.html" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('drama','','../logos_interesses/logo_amarelo/logo_drama.png',1)"><img src="../logos_interesses/logo_drama.png" name="drama"></a></center><center>Drama
        <input type="checkbox" name="drama2" id="drama"></center>
        <label for="drama"></label>
      </form></td>
      
  </tr>
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  <tr>
    <td>
      <form name="form4" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('romance','','../logos_interesses/logo_amarelo/logo_romance.png',1)"><img src="../logos_interesses/logo_romance.png" name="romance"></a><center>
          Romance
          <input type="checkbox" name="romance2" id="romance"></center></center>
        <label for="romance"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form5" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('contos','','../logos_interesses/logo_amarelo/logo_contos.png',1)"><img src="../logos_interesses/logo_contos.png" name="contos"></a></center><center>
        Contos
        <input type="checkbox" name="contos2" id="contos"></center>
        <label for="contos"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('aventura','','../logos_interesses/logo_amarelo/logo_aventura.png',1)"><img src="../logos_interesses/logo_aventura.png" name="aventura"></a></center><center>Aventura
        <input type="checkbox" name="aventura2" id="aventura"></center>
        <label for="aventura"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('hq','','../logos_interesses/logo_amarelo/logo_fantasia.png',1)"><img src="../logos_interesses/logo_fantasia.png" name="hq"></a></center><center>
        HQ
          <input type="checkbox" name="hq2" id="hq"></center>
        <label for="hq"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('suspense','','../logos_interesses/logo_amarelo/logo_suspense.png',1)"><img src="../logos_interesses/logo_suspense.png" name="suspense"></a></center><center>
        Suspens
        <input type="checkbox" name="suspense2" id="suspense"></center>
        <label for="suspense"></label>
      </form></td>
      
       <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" 
    onMouseOver="MM_swapImage('auto','','../logos_interesses/logo_amarelo/logo_familia.png',1)"><img src="../logos_interesses/logo_familia.png" name="auto"></a></center><center>
        Ajuda
          <input type="checkbox" name="auto2" id="auto"></center>
        <label for="auto"></label>
      </form></td>
      
  </tr>
</table>
</center>

<!-- FIM DO MENU DE INTERESSES -->



<center>
<p></p>
<a href="interesses.html"><img src="../button_selecione_interesses.png" width="272" height="35" alt="selecione"></a>
  <hr color="gold">
</center>

</body>
</html>
