<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Perfil3</title>
</head>

<body> 
            
<!-- MENU -->    
<center>
        
<p>&nbsp;</p>
<hr color="gold">
<center>
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
</center>

<hr color="gold">

  
    <!-- FIM DO MENU -->
    
    <!-- LOGO -->
  <img  
            	src="../logo.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >
  
<center>

<table>
<tr>
  	<td><center>
  	  <img src="../perfil4.png" width="102" height="129" alt="rony">
  	</center></td>
    <td><center>
    x
    </center></td>
    <td><center><img src="../perfil1.png" width="102" height="129" alt="emma"></center></td>
  </tr>
<tr>
	<td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
</tr>
  <tr>
  	<td><center>Categoria</center></td>
    <td><center>Temas em Comum</center></td>
    <td><center>Prob(%)</center></td>
  </tr>
<tr>
	<td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
</tr>
  <tr>
  	<td><center>Esportes</center></td>
    <td><center>Damas/Xadrez</center></td>
    <td><center>10%</center></td>
  </tr>
  <tr>
	<td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
</tr>
  <tr>
  	<td><center>Arte</center></td>
    <td><center>Filmes, Magia</center></td>
    <td><center>60%</center></td>
  </tr>
  <tr>
	<td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
</tr>
<tr>
  	<td><center>Arte</center></td>
    <td><center>Literatura, Magia</center></td>
    <td><center>50%</center></td>
  </tr>
<tr>
	<td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
</tr>
  <tr>
  	<td><center>Jogos</center></td>
    <td><center>MMO/RPG</center></td>
    <td><center>40%</center></td>
  </tr>
  
</table>


</center>

<!-- FIM DO MENU DE INTERESSES -->



<center>
  <a href="chatear.html"><img src="../button_conversar.png" width="118" height="35"></a>
  <hr color="gold">
</center>

</body>
</html>
