<link 
	rel="StyleSheet" 
    type="text/css" 
    href="../SiteSMASH/estilo.css"
>

<script 
	language="javascript" 
	src="smash.js">
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Viagem</title>
</head>

<body 
	onLoad="MM_preloadImages(
    '../logos_interesses/logo_amarelo/natureza.png',
    '../logos_interesses/logo_amarelo/logo_aventura.png',
    '../logos_interesses/logo_amarelo/exotica.png',
    '../logos_interesses/logo_amarelo/logo_geografia.png',
    '../logos_interesses/logo_amarelo/logo_historia.png',
    '../logos_interesses/logo_amarelo/mochileiro.png',
    '../logos_interesses/logo_amarelo/religiosa.png',
    '../logos_interesses/logo_amarelo/logo_cafe.png')"
>
            
<!-- MENU -->    
<center>
        
<p><a href="interesses.html">Interesses</a> &gt; <a href="viagem.html">Viagem</a></p>
<hr color="gold">
<table width="56%" border="1">
  <tr>
    <th>
    	<a href="../Templates/Perfil.html">
        	<img src="../logo_perfil.png" width="16" height="19" alt="logo_perfil">
        </a>
    </th>
    <th>
    	<a href="../Templates/Perfil.html">
        	Perfil
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Smash.html">
    		<img src="../logo_smash.png" width="16" height="14" alt="logo_smash">
        </a>
    </th>
    <th>
    	<a href="../Templates/Smash.html">
        	Smash
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Estatistica.html">
    		<img src="../logo_estatistica.png" width="16" height="16" alt="logo_estatistica">
        </a>
    </th>
    <th><a href="../Templates/Estatistica.html">
    		Estatística
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Interesse.html">
        	<img src="../logo_interesse.png" width="16" height="16" alt="logo_interesse">
        </a>
    </th>
    <th>
    	<a href="interesses.html">
        	Interesse
        </a>
    </th>
    <th></th>	<th></th>	<th></th>	<th></th>	<th></th>	<th></th>
    <th></th>	<th></th>	<th></th>   <th></th>	<th></th>	<th></th>
    <th>
    	<a href="../Templates/Chat.html">
        	<img src="../logo_chat.png" width="16" height="14" alt="chat_logo">
        </a>
    </th>
    <th>
    	<a href="../Templates/Chat.html">
        	Chat
        </a>
    </th>
  </tr>
</table>
<hr color="gold">
<img  
            	src="../logo_viagem.png" 
                alt="logotipo"
                width="300" 
                height="183"
            >

<!-- FIM DO MENU -->
<p></p>

  <!-- INICIO DO MENU DE INTERESSES -->
<center>
<table align="center">
  <tr>
    <td>
      <form name="form4" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('natureza','','../logos_interesses/logo_amarelo/natureza.png',1)"><img src="../logos_interesses/natureza.png" name="natureza" width="100" height="100" border="0"></a>
      </center><center>
      Natureza
      <input type="checkbox" name="salsa2" id="salsa"></center>
        <label for="salsa"></label>
      </form>
      </td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form3" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('aventura','','../logos_interesses/logo_amarelo/logo_aventura.png',1)"><img src="../logos_interesses/logo_aventura.png" name="aventura" width="100" height="100" border="0"></a>
      </center><center>
          Aventura
            <input type="checkbox" name="classica2" id="classica"></center>
        <label for="classica"></label>
      </form></td>
      
    <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form2" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('exotica','','../logos_interesses/logo_amarelo/exotica.png',1)"><img src="../logos_interesses/exotica.png" name="exotica" width="100" height="100" border="0"></a>
      </center>
    <center>
      Exótica
        <input type="checkbox" name="jazz2" id="jazz"></center>
        <label for="jazz"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form1" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('internacional','','../logos_interesses/logo_amarelo/logo_geografia.png',1)"><img src="../logos_interesses/logo_geografia.png" name="internacional" width="100" height="100" border="0"></a>
      </center><center>
          Internacional
            <input type="checkbox" name="pop2" id="pop"></center>
        <label for="pop"></label>
      </form></td>
  </tr>
  <tr>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
    <td><hr color="gold"></td>
  </tr>
  <tr>
    <td>
      <form name="form5" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('historica','','../logos_interesses/logo_amarelo/logo_historia.png',1)"><img src="../logos_interesses/logo_historia.png" name="historica" width="100" height="100" border="0"></a>
      </center><center>
        Histórica
        <input type="checkbox" name="sertanejo2" id="sertanejo"></center>
        <label for="sertanejo"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form6" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('mochileiro','','../logos_interesses/logo_amarelo/mochileiro.png',1)"><img src="../logos_interesses/mochileiro.png" name="mochileiro" width="100" height="100" border="0"></a>
      </center><center>
        Mochileiro
        <input type="checkbox" name="hip2" id="hip"></center>
        <label for="hip"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form7" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('religiosa','','../logos_interesses/logo_amarelo/religiosa.png',1)"><img src="../logos_interesses/religiosa.png" name="religiosa" width="100" height="100" border="0"></a>
      </center><center>
          Religiosa
            <input type="checkbox" name="blues2" id="blues"></center>
        <label for="blues"></label>
      </form></td>
      
      <td><img src="../faixa.png" width="4" height="130" alt="faixa"></td>
    <td>
      <form name="form8" method="post" action=""><center>
        <a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('congressos','','../logos_interesses/logo_amarelo/logo_cafe.png',1)"><img src="../logos_interesses/logo_cafe.png" name="congressos" width="100" height="100" border="0"></a></a></center><center>
          Congressos
            <input type="checkbox" name="samba2" id="samba"></center>
        <label for="samba"></label>
      </form></td>
  </tr>
</table>
</center>

<!-- FIM DO MENU DE INTERESSES -->
</center>

<center>
<p></p>
<a href="interesses.html"><img src="../button_selecione_interesses.png" width="272" height="35" alt="selecione"></a>
  <hr color="gold"> 
</center>

</body>
</html>
